<audio #audioPlayer *ngIf="audioSrc" [src]="audioSrc"></audio>
<div class="audio-player-controls" *ngIf="isReadyForPlayback">
	<div class="audio-player-controls__play-pause">
		<button *ngIf="!isPlaying" class="play" (click)="play()">
			<i class="fa fa-play"></i>
		</button>
		<button *ngIf="isPlaying" class="pause" (click)="pause()">
			<i class="fa fa-pause" aria-hidden="true"></i>
		</button>
	</div>
	<div class="audio-player-controls__timeline">
		<div [style.background-color]="config?.timelineConfig.timelineColor" [style.height.px]="config?.timelineConfig.timelineHeight"
		 class="audio-player-controls__timeline__display"></div>
		<div [style.background-color]="config?.timelineConfig.playheadColor" [style.height.px]="config?.timelineConfig.playheadHeight"
		 [style.width.px]="config?.timelineConfig.playheadHeight" [style.marginLeft.%]="playheadPosition" #playhead class="audio-player-controls__timeline__playhead"
		 [ngClass]="{'audio-player-controls__timeline__playhead--start': !isPlaying && currentTimeDisplay === 0}">
		</div>
	</div>
</div>
