<audio #audioPlayer *ngIf="audioSrc" [src]="audioSrc"></audio>
<div class="audio-player-controls" *ngIf="isReadyForPlayback">
	<div class="audio-player-controls__play-pause">
		<button *ngIf="!isPlaying" class="play" (click)="play()">Play</button>
		<button *ngIf="isPlaying" class="pause" (click)="pause()">Pause</button>
	</div>
	<div class="audio-player-controls__timeline">
		<div class="audio-player-controls__timeline__display"></div>
		<div #playhead class="audio-player-controls__timeline__playhead" [ngClass]="{'audio-player-controls__timeline__playhead--start': !isPlaying && currentTimeDisplay === 0}"
		 [style.marginLeft.%]="playheadPosition"></div>
	</div>
</div>
